<form class="{{cssClass}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></div>
      <div class="resource missiles">
        <img class="resource-icon" src="systems/risklegacy/assets/icons/missile.png" />
        <input class="len-{{length data.missiles}}" type="text" name="data.missiles" value="{{data.missiles}}" data-dtype="Number" />
      </div>
      <div class="resource stars">
        <img class="resource-icon" src="systems/risklegacy/assets/icons/star.png" />
        <input class="len-{{length data.stars}}" type="text" name="data.stars" value="{{data.stars}}" data-dtype="Number" />
      </div>
      <div class="scar-container">
        {{#unless (isEmpty data.scar.img)}}
          <img class="scar" src="{{data.scar.img}}" data-item-id="{{data.scar._id}}" height="56" width="56" />
          <a class="item-control scar-delete"><i class="fas fa-times"></i></a>
        {{/unless}}
      </div>
    </div>
  </header>

  <section class="profile">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" width="300" />
  </section>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="cards">Cards</a>
    <a class="item" data-tab="powers">Powers</a>
    <a class="item" data-tab="record">Record</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Cards Tab --}}
    <div class="tab card-container" data-group="primary" data-tab="cards">
      <ol class="card-list">
        {{#each data.territories as |card id|}}
        {{#if (isEmpty card.data.continent)}}
        <li class="card gridrow" data-item-id="{{card._id}}" style="background-image: url({{card.img}}); background-size: 131.2px 182.4px; background-repeat: no-repeat">
          <div class="territory">
            <ol class="plusminus">
              <li><a class="territory-plus" data-action="create"><i class="fas fa-plus"></i></a></li>
              <li><a class="territory-minus" data-action="delete"><i class="fas fa-minus"></i></a></li>
            </ol>
            <div class="item-controls">
              <a class="item-control item-view"><i class="fas fa-eye"></i></a>
              <a class="item-control item-delete"><i class="fas fa-times"></i></a>
            </div>
            <img class="first" src="{{card.data.coinImg}}" />
            {{#ifCond card.data.value '>=' 2}}
              <ol class="coins">
                {{#for 1 card.data.value 1}}
                  <li class="coin"><img class="coin" src="{{card.data.coinImg}}" /></li>
                {{/for}}
              </ol>
            {{/ifCond}}
          </div>
        </li>
        {{else}}
        <li class="card gridrow" data-item-id="{{card._id}}" style="background-image: url({{card.img}}); background-size: 131.2px 182.4px; background-repeat: no-repeat">
          <div class="coin-card">
            <div class="item-controls">
              <a class="item-control item-delete"><i class="fas fa-times"></i></a>
            </div>
          </div>
        </li>
        {{/if}}
        {{/each}}
      </ol>
    </div>

    {{!-- Powers Tab --}}
    <div class="tab power-container" data-group="primary" data-tab="powers">
      <ol class="power-list">
        {{#each data.powers as |power id|}}
        <li class="power gridrow power-{{power.data.type}}" data-item-id="{{power._id}}">
          <div class="description">
            {{power.data.description}}
          </div>
          <div class="item-controls"><a class="item-control item-delete"><i class="fas fa-trash"></i></a></div>
        </li>
        {{/each}}
      </ol>
    </div>

    {{!-- Game Record Tab --}}
    <div class="tab record-container" data-group="primary" data-tab="record">
      <header class="record-header">
        <h3 class="small-item">Game</h3>
        <h3 class="player">Player</h3>
        <h3 class="starting">Starting Territory</h3>
        <h3 class="small-item">Game State</h3>
        <h3 class="small-item"><a class="record-control record-add" data-action="create"><i class="fas fa-plus"></i></a></h3>
      </header>
      <section class="record-body">
        <ol class="record-list">
          {{#each data.record as |record|}}
            <li class="record-item">
              <div class="record">
                <span>Game #{{offset @index 1}}</span>
                <input type="text" name="data.record[{{@index}}].player" value="{{record.player}}" />
                <input type="text" name="data.record[{{@index}}].starting_territory" value="{{record.starting_territory}}" />
                <select class="game_state" name="data.record[{{@index}}].game_state">
                  <option value="" {{#ifCond record.game_state '===' ''}}selected{{/ifCond}}></option>
                  <option value="won" {{#ifCond record.game_state '===' 'won'}}selected{{/ifCond}}>Won</option>
                  <option value="held_on" {{#ifCond record.game_state '===' 'held_on'}}selected{{/ifCond}}>Held On</option>
                  <option value="eliminated" {{#ifCond record.game_state '===' 'eliminated'}}selected{{/ifCond}}>Eliminated</option>
                </select>
                <a class="record-control record-delete"><i class="fas fa-trash"></i></a>
              </div>
            </li>
          {{/each}}
        </ol>
      </section>
    </div>
  </section>
</form>
